<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/nav") %>
    <div class="mx-auto" style="width: 500px">
      <h2>
        <span>Oops! We couldn't find that page.</span>
      </h2>
      <div>You may want to head back to the homepage.</div>
    </div>
  </body>
</html>
